/fw-parent/fw-fx/fw-fx-esckit/target/
/fw-parent/fw-fx/fw-fx-testkit/target/
/fw-parent/fw-fx/JavaApplication2/nbproject/private/
/fw-parent/fw-fx/JavaApplication2/build/
/fw-parent/fw-fx/ClientEditor/nbproject/private/
/fw-parent/fw-fx/ClientEditor/build/
/fw-parent/fw-fx/MavenCalculatorClient/target/
/fw-parent/fw-web/fw-web-site/target/