<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.idealclover.java.fw.fx.esckit.dao.ISgccKbDocMapper">
    <cache />
     
    <select id="getModel" resultType="SgccKbDoc">
        select * from esc.sgcc_kb_doc where id = #{id}
    </select>
</mapper>
